# .NET Build outputs
**/bin/
**/obj/
*.dll
*.pdb
*.exe
*.cache
*.AssemblyInfo.cs
*.csproj.*.cache
*.assets.cache
*.genruntimeconfig.cache
*.sourcelink.json
*.dswa.cache.json
**/appsettings.Development.json

# Node modules
node_modules/
package-lock.json

# IDE
.vscode/
.vs/
